<a href="https://colab.research.google.com/github/Twist-tracer/gb-python-libs/blob/master/lesson2/homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

a = np.array([[1,6],
              [2,8],
              [3,11],
              [3,10],
              [1,7]])

mean_a = np.mean(a, 0, float)

mean_a

array([2. , 8.4])

In [2]:
a_centered = a - mean_a

a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

In [3]:
a_centered_sp = a_centered[0:, 0].dot(a_centered[0:, 1])

a_centered_sp

a_centered_sp / (len(a) - 1)

2.0

In [4]:
a_transposed = a.transpose()
cov = np.cov(a_transposed)
cov[0, 1]

2.0

In [5]:
import pandas as pd

authors = pd.DataFrame({
    'author_id': [1,2,3],
    'author_name': ['Тургенев', 'Чехов', 'Островский'] 
})

books = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290],
})

In [6]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [7]:
authors_price = authors_price.sort_values(by='price', ascending=False)
top5 = authors_price[0:5]

top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [8]:
authors_stat = authors_price.groupby('author_name')
authors_stat.agg({'price': [('min_price', 'min'), ('max_price', 'max'), ('mean_price', 'mean')]})

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургенев          300       450  366.666667
Чехов             450       500  475.000000

In [9]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
3          2       Чехов      Толстый и тонкий    500  твердая
0          1    Тургенев           Отцы и дети    450   мягкая
4          2       Чехов       Дама с собачкой    450   мягкая
5          3  Островский                 Гроза    370  твердая
2          1    Тургенев     Дворянское гнездо    350  твердая
1          1    Тургенев                 Рудин    300   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [10]:
book_info = pd.pivot_table(data=authors_price, values='price', index='author_name', columns='cover', aggfunc=np.sum, fill_value=0)

book_info

cover        мягкая  твердая
author_name
Островский      290      370
Тургенев        750      350
Чехов           450      500